@use '../../styles/colors' as *;

.button {
    border: none;
    border-radius: 8px;
    padding: 6px 23px;
    background-color: $secondary-color;
    color: white;
    text-transform: lowercase;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
}

.buttonRed {
    background: $error-color;
}